Package: com.gitee.uengine.runner.spark
Source: com.gitee.uengine.runner.spark
Replaces: spark-uengine-runner, com.gitee.uengine.runner.spark.ubuntu
Version: 2.0.1
Architecture: arm64
Section: utils
Installed-Size: 2920
Maintainer: gfdgd xi <3025613752@qq.com>
Depends: python3, python3-tk, python3-pip, aapt, python3-setuptools, deepin-terminal | mate-terminal | gnome-terminal | xfce4-terminal, curl, python3-pil, python3-requests, adb, fonts-noto-cjk, python3-numpy, wget, inotify-tools, aria2, python3-pyqt5, python3-matplotlib, python3-urllib3
Recommends: uengine, deepin-elf-verify, python3-pyqt5.qtwebengine
Priority: optional
Conflicts: spark-uengine-apk-builder, com.gitee.uengine.runner.spark.ubuntu
Homepage: https://gitee.com/gfdgd-xi/uengine-runner
Description: UEngine 运行器，2.0.1 更新内容：
 ※1、新增移除在 Ubuntu 上安装的 UEngine 及其附属脚本的功能
 ※2、优化 Ubuntu 安装器启用和安装逻辑，不允许在 UOS/Deepin 安装移植的 Ubuntu UEngine
 ※3、Ubuntu 安装器不允许在非 X86 架构上使用
 ※4、在升级/安装运行器的 deb 时会自动移除安装错误的 UEngine 生成的脚本
 ※5、Ubuntu 安装器进行环境监测
 ※6、修复应用商店换源问题（由@Bail修复）
 6、修改作者信息
 7、更新使用帮助
 8、关于窗口修复系统失败错误的问题并新增安装包构建时间
 9、移除赞赏功能
 10、微型应用商店适配了更新关闭进程（由@Bail实现）
