[Desktop Entry]
Type=Application
Encoding=UTF-8
Categories=System;
Terminal=false
Exec=/usr/bin/uengine-runner -i %F
Icon=/opt/apps/com.gitee.uengine.runner.spark/files/icon.png
Name=Install APK(uengine runner)
Comment=Install APK(UEngine runner)
Comment[zh]=安装 APK（UEngine 运行器）
Name[zh]=安装 APK（UEngine 运行器）
StartupNotify=true
Hidden=false
NoDisplay=true
MimeType=application/vnd.android.package-archive