[Desktop Entry]
Categories=System;
Comment=UEngine 程序菜单
Encoding=UTF-8
Exec=/usr/bin/uengine launch --package=org.anbox.appmgr --component=org.anbox.appmgr.AppViewActivity
Icon=/opt/apps/com.gitee.uengine.runner.spark/files/icon.png
MimeType=
Name=UEngine App List
Name[zh]=UEngine 程序菜单
StartupWMClass=UEngine 程序菜单
Terminal=false
Type=Application
