<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>gfdgd xi</vendor>
  <vendor_url>https://gitee.com/gfdgd-xi/uengine-runner/</vendor_url>
  <action id="com.deepin.pkexec.binder.loader">
    <message>Authentication is required to Loading Binder Module</message>
    <message xml:lang="zh_CN">加载 binder 模块需要输入密码</message>
    <icon_name>preferences-system</icon_name>
    <defaults>
      <allow_any>yes</allow_any>
      <allow_inactive>yes</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/uengine-loading-binder</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>

</policyconfig>