[Desktop Entry]
Categories=System;
Comment=启动 UEngine 环境（默认会开机自启动）
Encoding=UTF-8
Exec=bash /usr/bin/uengine-loading-ubuntu
Icon=/opt/apps/com.gitee.uengine.runner.spark/files/defult.svg
MimeType=
Name=手动启动 UEngine 环境（默认会开机自启动）
StartupWMClass=手动启动 UEngine 环境（默认会开机自启动）
Terminal=false
Type=Application
