Package: spark-uengine-runner
Depends: com.gitee.uengine.runner.spark(>=1.6.2Alpha1)
Architecture: all
Priority: optional
Section: oldlibs
Version: 1.6.2
Maintainer: gfdgd xi <3025613752@qq.com>, actionchen<917981399@qq.com>, 柚子<https://gitee.com/Limexb>, 为什么您不喜欢熊出没和阿布呢<https://weibo.com/u/7755040136>, 星空露光<https://gitee.com/Cynorkyle>, shenmo<jifengshenmo@outlook.com>
Conflicts: spark-uengine-apk-builder
Homepage: [https://gitee.com/gfdgd-xi/uengine-runner, https://github.com/gfdgd-xi/uengine-runner]
Description: UEngine 运行器，此包只做升级过渡使用，无实质内容
