Package: spark-uengine-runner
Depends: com.gitee.uengine.runner.spark, ${misc:Depends}
Architecture: all
Priority: optional
Section: oldlibs
Version: 1.6.2
Maintainer: gfdgd xi <3025613752@qq.com>, actionchen<917981399@qq.com>, 柚子<https://gitee.com/Limexb>, 为什么您不喜欢熊出没和阿布呢<https://weibo.com/u/7755040136>, 星空露光<https://gitee.com/Cynorkyle>, shenmo<jifengshenmo@outlook.com>
Conflicts: spark-uengine-apk-builder
Homepage: [https://gitee.com/gfdgd-xi/uengine-runner, https://github.com/gfdgd-xi/uengine-runner]
Description: UEngine Runner for deepin and UOS